body    {
        background-color: antiquewhite;    
        margin: 20px;
}


h1      {

    color: rgb(17, 0, 128);
}


p {
    color: darkgreen;
    font-size: 2.2em;
}
footer {
    color: darkgrey;
    font-size: 18em;
}